<table>
	<tr>
		<th>Word</th>
		<td><%= f.text_field(:word) %></td>
	</tr>

	<tr>
		<th>Synonym</th>
		<td><%= f.text_field(:synonym) %></td>
	</tr>

	<tr>
		<th>Antonym</th>
		<td><%= f.text_field(:antonym) %></td>
	</tr>		
</table>